
/* --------------------- BASE STYLES --------------------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    overflow-x:hidden;
    font-family:'Open Sans', sans-serif;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* --------------------- BODY --------------------- */




.navegation_resp{display: none;}

#header {
    width: 100%;
    height: 110px;
    padding: 0px 0px 0px;
    margin: 0px;
    background: red;
    background-repeat: repeat-x;
    position: fixed;
    z-index: 100!important;
}

.menu-select{width: auto;float: right;margin-top: 33px;}

.header-container{width: 940px; height: auto;overflow: auto;margin: auto;}

li a{text-decoration: none;}

.displaymenu{
    width: 940px;
    height: auto;
    margin: auto;
    overflow: auto;
}

.contentMenu{
    margin: auto;
    overflow: auto;
}

.contentMenu li{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    float: left;
    margin-top: 12px;
}

.logo {
    background: url(../img/orionlogo.png) no-repeat;
    width: 69px;
    height: 66px;
    float: left;
    margin: 0 10px;
}

.welcome{
    font-size: 190px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
    height: 115px;
    text-align: center;
    margin-top: 75px;
}

.company-name{
    font-size: 17px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
    float: left;
    margin-top: 24px;
}

.content-logo{width: auto; height: auto;overflow: auto;float: left;margin-top: 20px;}

.contentMenu .logo a:hover {background: none;}

li {list-style: none outside none !important;}

.menubtn{
    height: 20px;
    margin: 0px 10px;
    color: #fff;
    overflow:hidden;
}

.contentbtn {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    width: auto;
    text-decoration: none;
}

.contentbtn2 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    width: auto;
    color:red;
    text-decoration: none;
}

.homebtn{margin: 0px 10px 0px 0px;}
.contactbtn{margin: 0px 0px 0px 10px;}

#banner {
    width:100%;
    height:795px;
    margin-top: 110px;
    position: absolute;
    /*
            width:2561px;
            left: 50%;
            margin-left: -1280px;*/
    overflow:hidden;
    background: url(../images/banner.jpg);
}

#myCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ccc;
}

#about{
    padding-top:900px;
    width: 100%;
    height: auto;
    background: #fff;
}



#services{
    width: 100%;
    height: 100%;
    background: #fff;
}



#footer{
    position: absolute;
    z-index: 9998;
    width: 100%;
    height: 170px;
    background: #1d1c1c;
}

.footerContent{
    width: auto;
    height: auto;
    margin: auto;
}

.footerContent .socialtext {
    margin-top: 40px;
    margin-bottom: 28px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-style: italic;
    text-transform: uppercase;
    color: #6c6a6a;
}

.icon {
    float: left;
    width: 47px;
    height: 46px;
    margin: 0px 6px;
    text-align: center;
}


.section{
    width: 960px;
    margin:auto;
}

.contentsection{margin-top: 100px;}

.data-content{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #676b6a;
    text-align: center;
    margin: 50px 20px 30px 20px;
    width: auto;
}

.data-content2{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #f8f7f3;
    text-align: center;
    margin: 50px 30px 30px;
    width: auto;
}

.title-profile{
    font-size: 110px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #909090;
    text-transform: uppercase;
    text-align: center;
}

.pofile-item{width: 200px;float: left;margin: 0 40px;}

.profile-element{
    width: 197px;
    height: 197px;
    float: left;
    margin-bottom: 25px;
}

.element-1{background: url(../images/profile_bg_01.png) no-repeat;}
.element-2{background: url(../images/profile_bg_02.png) no-repeat;}
.element-3{background: url(../images/profile_bg_03.png) no-repeat;}

.element-1:hover{background-position: 0 -197px;; cursor: pointer;}
.element-2:hover{background-position: 0 -197px;; cursor: pointer;}
.element-3:hover{background-position: 0 -197px;; cursor: pointer;}

.profile{
    width: 840px;
    margin: auto;
    margin-bottom: 50px;
    overflow: auto;
}

.profile-menu{
    overflow: hidden;
    margin: auto;
}


.eye{
    width: 105px;
    height: 66px;
    background: url(../img/profile_eye.png) no-repeat;
    margin-top: 78px;
}
.eye:hover{background-position: 0 -66px;}

.diamond{
    width: 114px;
    height: 83px;
    background: url(../img/profile_diamond.png) no-repeat;
    margin-top: 75px;
}
.diamond:hover{background-position: 0 -84px;}

.profile-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    color: #484545;
    text-align: center;
    width: 197px;
    float: left;
    margin-bottom: 35px;
}
.topline{
    position: absolute;
    margin-top: 115px;
    width: 100%;
    height: 17px;
    background:url(../img/pattern_top_about.png) repeat-x;
}

.logosection{
    position:absolute;left:50%;
    margin-left:-115px;
    margin-top: 30px;
    width: 210px;
    height: 147px;
}

.logosection.about{background:url(../img/about_header.png) no-repeat;}
.logosection.freebies{background:url(../img/freebies_header.png) no-repeat;}
.logosection.team{background:url(../img/team_header.png) no-repeat;}
.logosection.portfolio{background:url(../img/portfolio_header.png) no-repeat;}
.logosection.services{background:url(../img/services_header.png) no-repeat;}
.logosection.contact{background:url(../img/contact_header.png) no-repeat;}

.title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 76px;
}

.title.services {font-size: 30px;}

.titlesection {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 800;
    color: #ffffff;
    line-height: 40px;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.title-2{font-size: 26px; width: 100%;}


.symbol{
    float: left;
    width: 45px;
    height: 36px;
    background:url(../img/twitter_symbol.png) no-repeat;
    margin-top: 4px;
}




.team-title{
    font-size: 110px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #909090;
    text-transform: uppercase;
    text-align: center;
}

.works-title {
    font-size: 120px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #f40100;
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
}

.works-header{width: 960px; height: auto; margin: auto;}

.pantallaFondo{
    margin: 22px 0 10px 89px;
    width: 528px;
    height: 334px;
    position: absolute;
    z-index:10;
}

.pantalla{
    margin: 22px 0 10px 89px;
    width: 528px;
    height: 334px;
    position: absolute;
    z-index:20;
}


.last-project-footer{
    background: url(../img/last-projects-footer.png) no-repeat;
    width: 248px;
    height: 22px;
    margin: auto;
    padding-bottom: 55px;
}

.teamhead{
    padding: 110px 35px 0px 20px;
    height: auto;
}

.titlesection.ourteam{
    float: left;
    font-size: 45px;
    text-transform: uppercase;
    padding: 5px 35px 0px 0px;
    width: auto;
}

.teamdescription{
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    float: left;
    height: 35px;
    padding: 15px 0px 0px 20px;
    color: #faef51;
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
}

.servicesdescription{
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    float: left;
    height: 35px;
    padding: 15px 0px 0px 20px;
    color: #f7ac00;
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
}

.teamcontent{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
    width: auto;
    height: auto;
    float: left;
    margin: 20px 20px 20px 0px;
}


.banner-background{position: absolute; top: -165px;}
.anchor-position{position: absolute; top: 300px;}
.non-style{text-decoration: none;}
.map-content{width:100%;margin-left:auto;margin-right:auto;}
.inner-map{width:100%;height:398px;margin-left:auto;margin-right:auto;}

.infobanner{
    height: auto;
    width: 960px;
    margin: auto;
    padding-top: 130px;
}

.textbanner{
    width: 629px;
    height: auto;
    text-align: center;
    margin: auto;
    border-top: 3px solid #1d9686;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: #ffffff;
    padding-top: 25px;
    margin-top:100px;
}

.home:hover{
    width: 121px;
    height: 30px;
}
/* --------------------- HELPER CLASSES --------------------- */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* --------------------- end BODY --------------------- */

/* -------- MAP -------- */
#map-primary{
    float:left;
}

#myCanvas{
    width:80%;
    height:80%;
}
#map-secondary{
    width:20%;
    background:red;
    float:right;
}