/*#-RESET-#*/
body{font-family:Helvetica, Ubuntu, Verdana, Consolas, sans-serif;color:#000;background-color:#fff;margin:0;padding:0}
h1{font-size:40px;line-height:50px;font-weight:900;color:#fff;margin:30px 5px 0 125px;padding:0}

a{
    text-decoration: none;
    color:#000;
}
a:visited{
    color:#000;
}
a:hover{
    color:red;
}

#nav{
    list-style-type:none;
    margin-bottom:10px;
    display:block;
}

#nav li{
    float:left;
    margin-right:5px;
    list-style-type:none;
}

#stats {
    list-style-type:none;
    margin-bottom:10px;
    display:block;
    font-family:Ubuntu, Verdana, Consolas, sans-serif;color:#999;
}

#container{
    width:100%;
    overflow:hidden;
}


#map{
    width:80%;
    float: left;
}

#sidebar{
    min-height:200px;
    float:left;
    width:20%;
}