/*#-RESET-#*/
*{
    font-family:Helvetica;
}
body{
    margin:0;
}
header {
    background: #ff0000;
    height: 16px;
    padding: 5px;
}
a{
    text-decoration: none;
    color:#fff;
}
a:visited{
    color:#fff;
}
a:hover{
    color:#000;
}
#nav{
    margin: 0 0 0 -2%;
}
#nav li{
    float:left;
    margin-right:1%;
    list-style-type:none;
    border-right: 1px solid #fff;
    padding-right:5px;
}
#nav li:last-child{
    border-right:none;
}
#nav li a{
    font-weight: lighter;
}
#stats {
    list-style-type:none;
    margin-bottom:10px;
    display:block;
    font-family:Ubuntu, Verdana, Consolas, sans-serif;color:#999;
}
#container{
    width:100%;
    overflow:hidden;
}
#map canvas{
    width:80%;
    float: left;
}
#sidebar{
    float:left;
    width:18%;
    padding:1%;
    word-break:break-all;
}
input{
    max-width: 90px;
    display:inline;
}
.start{
    display:block;
    float:left;
}
.end {
    display:block;
}
@media only screen and (max-device-width: 660px){
    #sidebar{
        float:none;
    }
    #map canvas, #sidebar{
        width:100%;
    }
    #stats{
        display: none;
    }
    .start, .end{
        display:inline;
        float:none;
    }
}